       <option value="ARS" style="font-weight: 900;" >Argentine Peso</option>
                        <option value="AUD" style="font-weight: 900;" >Australian Dollar</option>
                        <option value="BRL" style="font-weight: 900;" >Brazilian Real</option>
                        <option value="GBP" style="font-weight: 900;" >British Pound Sterling</option>
                        <option value="BAM" style="font-weight: 900;" > Convertible Mark</option>
                        <option value="BGN" style="font-weight: 900;">Bulgarian Lev</option>
                        <option value="CAD" style="font-weight: 900;">Canadian Dollar</option>
                        <option value="CLP" style="font-weight: 900;">Chilean Peso</option>
                        <option value="CNY" style="font-weight: 900;">Chinese Yuan</option>
                        <option value="COP" style="font-weight: 900;">Colombian Peso</option>
                        <option value="HRK" style="font-weight: 900;">Croatian Kuna</option>
                        <option value="CZK" style="font-weight: 900;">Czech Republic Koruna</option>
                        <option value="DKK" style="font-weight: 900;">Danish Krone</option>
                        <option value="DOP" style="font-weight: 900;">Dominican Peso</option>
                        <option value="EGP" style="font-weight: 900;">Egyptian Pound</option>
                        <option value="EUR" style="font-weight: 900;">Euro</option>
                        <option value="FJD" style="font-weight: 900;">Fijian Dollar</option>
                        <option value="HKD" style="font-weight: 900;">Hong Kong Dollar</option>
                        <option value="HUF" style="font-weight: 900;">Hungarian Forint</option>
                        <option value="INR" style="font-weight: 900;">Indian Rupee</option>
                        <option value="IDR" style="font-weight: 900;">Indonesian Rupiah</option>
                        <option value="IQD" style="font-weight: 900;">Iraqi Dinar</option>
                        <option value="ILS" style="font-weight: 900;">Israeli New Shekel</option>
                        <option value="JMD" style="font-weight: 900;">Jamaican Dollar</option>
                        <option value="JPY" style="font-weight: 900;">Japanese Yen</option>
                        <option value="JOD" style="font-weight: 900;">Jordanian Dinar</option>
                        <option value="KWD" style="font-weight: 900;">Kuwaiti Dinar</option>
                        <option value="MYR" style="font-weight: 900;">Malaysian Ringgit</option>
                        <option value="MXN" style="font-weight: 900;">Mexican Peso</option>
                        <option value="MAD" style="font-weight: 900;">Moroccan Dirham</option>
                        <option value="TWD" style="font-weight: 900;">New Taiwan Dollar</option>
                        <option value="NZD" style="font-weight: 900;">New Zealand Dollar</option>
                        <option value="NOK" style="font-weight: 900;">Norwegian Krone</option>
                        <option value="PKR" style="font-weight: 900;">Pakistani Rupee</option>
                        <option value="PEN" style="font-weight: 900;">Peruvian Nuevo Sol</option>
                        <option value="PHP" style="font-weight: 900;">Philippine Peso</option>
                        <option value="PLN" style="font-weight: 900;">Polish Zloty</option>
                        <option value="RON" style="font-weight: 900;">Romanian Leu</option>
                        <option value="RUB" style="font-weight: 900;">Russian Ruble</option>
                        <option value="SAR" style="font-weight: 900;">Saudi Riyal</option>
                        <option value="SGD" style="font-weight: 900;">Singapore Dollar</option>
                        <option value="ZAR" style="font-weight: 900;">South African Rand</option>
                        <option value="KRW" style="font-weight: 900;">South Korean Won</option>
                        <option value="SEK" style="font-weight: 900;">Swedish Krona</option>
                        <option value="CHF" style="font-weight: 900;">Swiss Franc</option>
                        <option value="THB" style="font-weight: 900;">Thai Baht</option>
                        <option value="TRY" style="font-weight: 900;">Turkish Lira</option>
                        <option value="VND" style="font-weight: 900;">Vietnamese Dong</option>
                        <option value="AED" style="font-weight: 900;">UAE Dirham</option>
                        <option value="USD" style="font-weight: 900;">United States Dollar</option>
                        <option value=""></option>
                        <option value="" style="font-weight: 900;">Crypto Currencies</option>
                        <option value=""></option>
                        <option value="AAVE" style="font-weight: 900;">Aave</option>
                        <option value="BNB" style="font-weight: 900;">Binance-Coin</option>
                        <option value="BUSD" style="font-weight: 900;">Binance-USD</option>
                        <option value="BTC" style="font-weight: 900;">Bitcoin</option>
                        <option value="BCH" style="font-weight: 900;">Bitcoin cash</option>
                        <option value="ADA" style="font-weight: 900;">Cardano</option>
                        <option value="LINK" style="font-weight: 900;">ChainLink</option>
                        <option value="CRO" style="font-weight: 900;">Crypto.com Coin</option>
                        <option value="DOGE" style="font-weight: 900;">DogeCoin</option>
                        <option value="EOS" style="font-weight: 900;">EOS</option>
                        <option value="ETH" style="font-weight: 900;">Ethereum</option>
                        <option value="ETC" style="font-weight: 900;">Ethereum-Classic</option>
                        <option value="FIL" style="font-weight: 900;">Filecoin</option>
                        <option value="IOTA" style="font-weight: 900;">IOTA</option>
                        <option value="LTC" style="font-weight: 900;">Litecoin</option>
                        <option value="NEO" style="font-weight: 900;">NEO</option>
                        <option value="MATIC" style="font-weight: 900;">Polgon</option>
                        <option value="XRP" style="font-weight: 900;">Ripple</option>
                        <option value="XLM" style="font-weight: 900;">Stellar</option>
                        <option value="USDT" style="font-weight: 900;">Tether</option>
                        <option value="THETA" style="font-weight: 900;">Theta-Token</option>
                        <option value="TRX" style="font-weight: 900;">Tronix</option>
                    